<a href="https://colab.research.google.com/github/cairoegito/analisando-tabela/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
alunos = {"Nome" :  ["Cairo", "Paulo", "Ricardo", "Eduardo"],
          "Notas" :  [7,4,8,3],
          "Situação" : ["Aprovado", "Reprovado", "Aprovado", "Reprovado"]}

In [10]:
tabela = pd.DataFrame(alunos)
print(tabela)

      Nome  Notas   Situação
0    Cairo      7   Aprovado
1    Paulo      4  Reprovado
2  Ricardo      8   Aprovado
3  Eduardo      3  Reprovado

In [11]:
tabela.head()

      Nome  Notas   Situação
0    Cairo      7   Aprovado
1    Paulo      4  Reprovado
2  Ricardo      8   Aprovado
3  Eduardo      3  Reprovado

In [ ]:
# Informa o número de linhas (x) e colunas (y) no par (x,y)
tabela.shape

(4, 3)

In [ ]:
tabela.describe()

          Notas
count  4.000000
mean   5.500000
std    2.380476
min    3.000000
25%    3.750000
50%    5.500000
75%    7.250000
max    8.000000

In [ ]:
# Imprime todos os nomes da coluna "Nome"
tabela["Nome"]

0      Cairo
1      Paulo
2    Ricardo
3    Eduardo
Name: Nome, dtype: object

In [ ]:
# Imprime uma linha determinada
tabela.loc[(0)]

Nome           Cairo
Notas              7
Situação    Aprovado
Name: 0, dtype: object

In [ ]:
# Imprime a linha da coluna dos nomes que o mesmo se chama a string "Cairo"
tabela.loc[tabela['Nome'] == "Cairo"]

    Nome  Notas  Situação
0  Cairo      7  Aprovado